.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

.card {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #cccbcb;
  border-radius: 8px;
}

.card__img {
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.img { 
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 22px;
  border: 1px solid #cccbcb;
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  margin: 0 auto 20px 20px;
}

.btn {
  display: block;
  padding: 10px;
  background-color: #646cff;
  color: white;
  border-radius: 8px;
  width: 150px;
  text-decoration: none;
  
}